body {
  background: linear-gradient(135deg, #5d2de2, #171bf3);
  margin: 0;

  padding: 0;

  height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  overflow: hidden;
}

body::before {
  content: '';

  position: absolute;

  top: 0;

  left: 0;

  width: 100%;

  height: 100%;

  background: radial-gradient(circle, rgba(0, 238, 255, 0.459) 50%, transparent 40%);

  background-size: 200% 200%;

  animation: spots 30s linear infinite alternate; 

  filter: blur(100vh);

  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes spots {

  0% {

    background-position: 0% 0%;

  }

  100% {

    background-position: 100% 100%;

  }

}



.container {
  width: 70vh ;
  margin: 100px auto;
  padding: 1%;
  border: 1px solid #ccc;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #ffffff57;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  color: #110050;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.label {
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

.input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 90%;
}

.button {
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;

}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}
